
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

.max-width{
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;
}

.navbar{
	position: fixed;
	z-index: 1;
	background: #404959;
	width: 100%;
	font-family: 'Ubuntu', sans-serif;
	padding: 15px;
}

ul li a:hover {
  transition: 0.3s ease-in-out;
}

.navbar .menu li a:hover{
	color: #008BA7;
}

.navbar .max-width{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo a{
	font-size: 35px;
	font-weight: 600;
	color: white;
}

.navbar .menu li a{
	color: white;
	margin-left: 25px;
	font-size: 18px;
	font-weight: 500;
	transform: scaleX(0);
}

.navbar .menu li{
	list-style: none;
	display: inline-block;
}

.home{
	display: flex;
	width: 100%;
	background: white;
	height: 100vh;
	min-height: 500px;
	font-family: 'Ubuntu', sans-serif;
	color: #404959;
}

.home .max-width{
	margin: auto 0 auto 40px;
}

.text-1{
	font-size: 75px;
	font-weight: 600;
	margin-left: -3px;
}

.text-2{
	font-size: 40px;
	margin: 5px 0;
}

.discover{
	display: flex;
	background: #404959;
	border-radius: 10px;
	width: 200px;
	height: 50px;
	color: white;
	justify-content: center;
	padding-top: 15px;
	margin-top: 10px;
}

.discover a{
	color: white;
}

.discover:hover {
  transition: 0.3s ease-in-out;
  background: #008BA7;
}

.parcours .max-width{
	margin: auto 0 auto 40px;
}

#parcours{
	display: flex;
	width: 100%;
	background: #404959;
	height: 100vh;
	min-height: 500px;
	font-family: 'Ubuntu', sans-serif;
	color: white;
}

.titre{
	font-size: 40px;
	display: flex;
	justify-content: center;
	position: relative;
	top: 0;
}

.projets{
	display: flex;
	width: 100%;
	background: white;
	height: 100vh;
	min-height: 500px;
	font-family: 'Ubuntu', sans-serif;
	color: #404959;
}
.projets.textparcours{
	display: flex;
}
.projets .img img{
	width: 50%;
}

.projets h1{
	
}

::-webkit-scrollbar{
	width: 15px;
}

::-webkit-scrollbar-thumb {
    background:  #404959;
}

.img{
	margin-top: 5%;
	display: flex;
	gap: 3%;
}

.disney{
	border: solid #404959;
}

.alex{
	border: solid #404959;
}