
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

.max-width{
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;
}

.navbar{
	position: fixed;
	z-index: 1;
	background: #404959;
	width: 100%;
	font-family: 'Ubuntu', sans-serif;
	padding: 15px;
}

ul li a:hover {
  transition: 0.3s ease-in-out;
}

.navbar .menu li a:hover{
	color: #008BA7;
}

.navbar .max-width{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo a{
	font-size: 35px;
	font-weight: 600;
	color: white;
}

.navbar .menu li a{
	color: white;
	margin-left: 25px;
	font-size: 18px;
	font-weight: 500;
	transform: scaleX(0);
}

.navbar .menu li{
	list-style: none;
	display: inline-block;
}

.home{
	display: flex;
	width: 100%;
	background: white;
	height: 100vh;
	min-height: 500px;
	font-family: 'Ubuntu', sans-serif;
	color: #404959;
}

.home .max-width{
	margin: auto 0 auto 40px;
}

.text-1{
	font-size: 75px;
	font-weight: 600;
	margin-left: -3px;
}

.text-2{
	font-size: 40px;
	margin: 5px 0;
}

.discover{
	display: flex;
	background: #404959;
	border-radius: 10px;
	width: 200px;
	height: 50px;
	color: white;
	justify-content: center;
	padding-top: 15px;
	margin-top: 10px;
	cursor: pointer;
}

.discover a{
	color: white;
}

.discover:hover {
  transition: 0.3s ease-in-out;
  background: #008BA7;
}





/*PROFIL*/

.parcours .max-width{
	margin: auto 0 auto 40px;
}

section{
	padding: 100px 0;
}

#parcours{
	display: flex;
	width: 100%;
	background: #404959;
	height: 100%;
	min-height: 500px;
	font-family: 'Poppins', sans-serif;
	color: white;
}

.titre{
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 60px;
	padding-bottom: 20px;
	font-family: 'Ubuntu', sans-serif;
}

.profil{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}


.profil .partie.gauche{
	width: 45%;
}

.profil .partie.gauche img{
	height: 400px;
	width: 400px;
	object-fit: cover;
	border-radius: 6px;
}

.profil .partie.droite{
	width: 55%;
}

.partie.droite .who{
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 10px;
}

.partie.droite .who span{
	color: 	#008BA7;
}

.partie.droite a{
	display: flex;
	background: #008BA7;
	border-radius: 10px;
	width: 200px;
	height: 50px;
	color: white;
	justify-content: center;
	padding-top: 15px;
	margin-top: 10px;
	font-family: 'Ubuntu';
}

.partie.droite a:hover{
	transition: 0.1s ease-in-out;
	border: solid;
}







.projets{
	display: flex;
	width: 100%;
	background: white;
	height: 100vh;
	min-height: 500px;
	font-family: 'Poppins', sans-serif;
	color: #404959;
}

.textrojets{
	font-family: 'Poppins', sans-serif;
}

.projets .img img{
	width: 50%;
}

::-webkit-scrollbar{
	width: 15px;
}

::-webkit-scrollbar-thumb {
    background:  #404959;
}

.img{
	margin-top: 5%;
	display: flex;
	gap: 3%;
	width: 100%;
	min-width: 280px;
}

@media only screen and (max-width: 600px) {
  .img img{
   display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

.disney{
	border: solid #404959;
}

.alex{
	border: solid #404959;
}



/*MEDIA QUERIES*/

@media (max-width: 1104px){
	.home.max-width{
		margin-left: 0px;
	}
}

@media (max-width: 1104px){
	.profil .partie.gauche img{
	height: 100%;
	width: 100%;
	min-height: 280px;
}
}

@media (max-width: 991px){
	.max-width{
		padding: 0 50px;
	}
}


@media (max-width: 947px){

	.navbar .menu{
	position: fixed;
	height: 100vh;
	width: 100%;
	left: -100%;
	top: 0;
	background: #111;
	text-align: center;
	padding-top: 80px;
	transition: all 0.3s ease;
  }

	.navbar .menu.active{
	left: 0;
	}
	.navbar .menu li{
	display: block;
	}
	.navbar .menu li a{
	display: inline-block;
	margin: 20px 0;
	font-size: 25px;
	}
	.home .home-content .text-1{
	font-size: 70px;
	}
	.home .home-content .text-2{
	font-size: 35px;
	}

	.profil .partie{
		width: 100%;
	}

	.profil .gauche{
		display: flex;
		justify-content: center;
		margin: 0 auto;
	}

	.profil .droite{
		flex: 100%;
	}


	.max-width{
		max-width: 800px;
		width: 100%;
	}
}