
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

.max-width{
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;
}

.navbar{
	position: fixed;
	z-index: 1;
	background: #404959;
	width: 100%;
	font-family: 'Ubuntu', sans-serif;
	padding: 15px;
}

ul li a:hover {
  transition: 0.3s ease-in-out;
}

.navbar .menu li a:hover{
	color: #008BA7;
}

.navbar .max-width{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo a{
	font-size: 35px;
	font-weight: 600;
	color: white;
}

.navbar .menu li a{
	color: white;
	margin-left: 25px;
	font-size: 18px;
	font-weight: 500;
	transform: scaleX(0);
}

.navbar .menu li{
	list-style: none;
	display: inline-block;
}

.navbar .menu-hamburger{
	width: 35px;
	position: absolute;
	display: none;
	top: 22px;
	right: 40px;
	cursor: pointer;
}

/* DROPDOWN MENU */
.dropdown_menu {
	display: none;
	position: absolute;
	right: 2rem;
	top: 60px;
	width: 150px;
	background: #404959;
	backdrop-filter: blur(15px);
	overflow: hidden; 
	transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu ul:hover{
	color: #008BA7;
	transition: 0.3s;
}

.dropdown_menu li a:hover{
	color: #008BA7;
	transition: 0.3s;
}

.dropdown_menu li {
	padding: 0.7rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dropdown_menu li a{
	color: white;

}

.dropdown_menu.open{
	height: 200px;
	display: block !important;
	padding-top: 10px;
}

/*RESPONSIVE*/

@media(max-width: 992px){
	.nav-links{
		display: none;
	}

	.navbar .menu-hamburger{
		display: block !important;
	}

	.dropdown_menu{
		display: none;
	}
}


.home{
	display: flex;
	width: 100%;
	background: white;
	height: 100vh;
	min-height: 500px;
	font-family: 'Ubuntu', sans-serif;
	color: #404959;
}

.home .max-width{
	margin: auto 0 auto 40px;
}

.text-1{
	font-size: 75px;
	font-weight: 600;
	margin-left: -3px;
}

.text-2{
	font-size: 40px;
	margin: 5px 0;
}

.discover{
	display: flex;
	background: #404959;
	border-radius: 10px;
	width: 200px;
	height: 50px;
	color: white;
	justify-content: center;
	padding-top: 15px;
	margin-top: 10px;
	cursor: pointer;
}

.discover a{
	color: white;
}

.discover:hover {
  transition: 0.3s ease-in-out;
  background: #008BA7;
}





/*PROFIL*/

.parcours .max-width{
	margin: auto 0 auto 40px;
}

section{
	padding: 100px 0;
}

#parcours{
	display: flex;
	width: 100%;
	background: #404959;
	height: 100%;
	min-height: 500px;
	font-family: 'Poppins', sans-serif;
	color: white;
}

.titre{
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 60px;
	padding-bottom: 20px;
	font-family: 'Ubuntu', sans-serif;
}

.profil{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}


.profil .partie.gauche{
	width: 45%;
}

.profil .partie.gauche img{
	height: 400px;
	width: 400px;
	object-fit: cover;
	border-radius: 6px;
}

.profil .partie.droite{
	width: 55%;
}

.partie.droite .who{
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 10px;
}

.partie.droite .who span{
	color: 	#008BA7;
}

.partie.droite a{
	display: flex;
	background: #008BA7;
	border-radius: 10px;
	width: 200px;
	height: 50px;
	color: white;
	justify-content: center;
	padding-top: 15px;
	margin-top: 10px;
	font-family: 'Ubuntu';
}

.partie.droite a:hover{
	transition: 0.1s ease-in-out;
	border: solid;
}

#projets{
	width: 100%;
	height: 100vh;
}

.projets{
	display: flex;
	width: 100%;
	background: white;
	height: 100vh;
	min-height: 500px;
	font-family: 'Poppins', sans-serif;
	color: #404959;
	width: 100%;
}

.projets .titre{
	margin: 0 auto;
}

.textprojets{
	display: none;
}


/*MEDIA QUERIES*/

@media (max-width: 1104px){
	.home.max-width{
		margin-left: 0px;
	}
}

@media (max-width: 1104px){
	.profil .partie.gauche img{
	height: 50%;
	width: 80%;
	min-width: 0px;
}
}

@media (max-width: 991px){
	.max-width{
		padding: 0 50px;
	}
}


@media (max-width: 947px){

	.navbar .menu{
	position: fixed;
	height: 100vh;
	width: 100%;
	left: -100%;
	top: 0;
	background: #111;
	text-align: center;
	padding-top: 80px;
	transition: all 0.3s ease;
  }

	.navbar .menu.active{
	left: 0;
	}
	.navbar .menu li{
	display: block;
	}
	.navbar .menu li a{
	display: inline-block;
	margin: 20px 0;
	font-size: 25px;
	}
	.home .home-content .text-1{
	font-size: 70px;
	}
	.home .home-content .text-2{
	font-size: 35px;
	}

	.profil .partie{
		width: 100%;
	}

	.profil .gauche{
		display: flex;
		justify-content: center;
		margin: 0 auto;
	}

	.profil .droite{
		flex: 100%;
	}


	.max-width{
		max-width: 800px;
		width: 100%;
	}
}


/*TIMELINE*/

.box-timeline {
    width: 100%;
    height: 100%;
    background: #f1f1f1;
    position: relative;
    padding: 80px 0 250px 0;
    margin-bottom: 100px;
    padding-bottom: 100px;
}

.ligne {
    height: 680px;
    width: 8px;
    margin: 0 auto;
    background: #333;
}

.rond {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #404959;
    position: absolute;
    border: 1px solid #000;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
/* 1000 - 160 + 80 / 3 =~ 306 */
.r1{top: 80px;}
.r2{top: 386px;}
.r3{top: 692px;}
.r4{top: 1000px;}

.rond img{
	width: 100%;
	margin-top: 10%;
}
.box {
    color: #333;
    width: 400px;
    min-height: 200px;
    padding: 20px;
    border-radius: 3px;
    height: auto;
    background: #f1f1f1;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.b1 {
    top: 30px;
    left: calc(50% - 270px);
}

.b1 img{
	width: 100%;
}
.b2 {
    top: 356px;
    left: calc(50% + 270px);
}

.b2 img{
	width: 100%;
}
.b3 {
    top: 642px;
    left: calc(50% - 270px);
}

.b3 img{
	width: 100%;
}

.box p {
    line-height: 20px;
    font-size: 18px;
    margin: 10px 0 20px 0;
}
.btn {
    display: block;
    background: #404959;
    padding: 10px;
    width: 120px;
    text-align: center;
    color: #f1f1f1;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
}


@media screen and (max-width: 1000px) {


		.box-timeline{
			width: 100%;
			padding-top: 0 auto;
			margin-top: 0 auto;
		}

		.textprojets{
			display: none;
		}

		.projets{
			max-width: 100%;
		}

		.projets .titre{
			margin: 0 auto;
			display: none;
		}

    .ligne {
        position: relative;
        left: 200px;
    }
    .rond {
        left: calc(50% + 200px);
    }
    .box {
        left: calc(50% - 50px)
    }

    .b1{
    	width: 40%;
     }

    .b2{
    	width: 40%;
    }

    .b3{
    	width: 40%;
    }

    .btn{
    	display: none;
    }

    .box-timeline h4{
    	display: none;
    }

}

@media screen and (max-width: 700px){
	.b1{
		top: 10px;
		width: 80%;
	}

	.b2{
		width: 80%;
		top: 300px;
	}

	.b3{
		width: 80%;
		top: 600px;
	}
}


/*FORMULAIRE*/


.homes{
	padding-top: 30px ;
	display: flex;
	width: 100%;
	background: #404959;
	height: 100vh;
	min-height: 500px;
	font-family: 'Ubuntu', sans-serif;
	color: #404959;
	margin-top: 35%;
	justify-content: center;
}

.wrapper{
  width: 715px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.05);
}
.wrapper header{
  font-size: 22px;
  font-weight: 600;
  padding: 20px 30px;
  border-bottom: 1px solid #ccc;
}
.wrapper form{
  margin: 35px 30px;
}
.wrapper form.disabled{
  pointer-events: none;
  opacity: 0.7;
}
form .dbl-field{
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
}
.dbl-field .field{
  height: 50px;
  display: flex;
  position: relative;
  width: calc(100% / 2 - 13px);
}
.wrapper form i{
  position: absolute;
  top: 50%;
  left: 18px;
  color: #ccc;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}
form .field input,
form .message textarea{
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 18px 0 48px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.field input::placeholder,
.message textarea::placeholder{
  color: #404959;
}
.field input:focus,
.message textarea:focus{
  padding-left: 47px;
  border: 2px solid #0D6EFD;
}
.field input:focus ~ i,
.message textarea:focus ~ i{
  color: #008BA7;
}
form .message{
  position: relative;
}
form .message i{
  top: 30px;
  font-size: 20px;
}
form .message textarea{
  min-height: 130px;
  max-height: 230px;
  max-width: 100%;
  min-width: 100%;
  padding: 15px 20px 0 48px;
}
form .message textarea::-webkit-scrollbar{
  width: 0px;
}
.message textarea:focus{
  padding-top: 14px;
}
form .button-area{
  margin: 25px 0;
  display: flex;
  align-items: center;
}
.button-area button{
  color: #fff;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  padding: 13px 25px;
  background: #404959;
  transition: background 0.3s ease;
}
.button-area button:hover{
  background: #008BA7;
}
.button-area span{
  font-size: 17px;
  margin-left: 30px;
  display: none;
}
@media (max-width: 600px){
  .wrapper header{
    text-align: center;
  }
  .wrapper form{
    margin: 35px 20px;
  }
  form .dbl-field{
    flex-direction: column;
    margin-bottom: 0px;
  }
  form .dbl-field .field{
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
  }
  form .message textarea{
    resize: none;
  }
  form .button-area{
    margin-top: 20px;
    flex-direction: column;
  }
  .button-area button{
    width: 100%;
    padding: 11px 0;
    font-size: 16px;
  }
  .button-area span{
    margin: 20px 0 0;
    text-align: center;
  }
}


.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}


footer{
	padding: 20px 30px;
}

footer .medialogo{
	display: flex;
	justify-content: center;
}
footer .mediacircle{
	border-radius: 50%;
	color: black;
}

footer a ion-icon{
	margin: 0 auto;
	display: inline-block;
	padding-right: 10px;
	color: #404959;
}